---
---

@import "";

body {
    font:24px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header {
    nav {
        max-width: 900px;
    }
}

section {
    max-width:900px;
}

.wrapper {
    max-width:900px;
}